<!-- Create Post Section -->
<div class="create-post-section">
    <a href="#" class="btn-create-post">
        <i class="bi bi-plus-circle"></i>
        <span>Share Your Hometown</span>
    </a>
</div>
